function fpm-restart() {
    launchctl unload -w ~/Library/LaunchAgents/homebrew-php.josegonzalez.php54.plist
    launchctl load -w ~/Library/LaunchAgents/homebrew-php.josegonzalez.php54.plist
}

function mysql-restart() {
    launchctl unload -w ~/Library/LaunchAgents/homebrew.mxcl.mysql.plist
    launchctl load -w ~/Library/LaunchAgents/homebrew.mxcl.mysql.plist
}

function memcached-restart() {
    launchctl unload -w ~/Library/LaunchAgents/homebrew.mxcl.memcached.plist
    launchctl load -w ~/Library/LaunchAgents/homebrew.mxcl.memcached.plist
}

function nginx-restart() {
    sudo launchctl unload -w /Library/LaunchDaemons/homebrew.mxcl.nginx.plist
    sudo launchctl load -w /Library/LaunchDaemons/homebrew.mxcl.nginx.plist
}
